# LLM
GROQ_API_KEY="your_groq_api_key_here"
ICHI_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"
NI_MODEL="llama-3.3-70b-versatile"
SAN_MODEL="llama-3.1-8b-instant"
YON_MODEL="llama-3.3-70b-versatile"
GO_MODEL="meta-llama/llama-4-scout-17b-16e-instruct"

# Tools
TAVILY_API_KEY="your_tavily_api_key_here"
JINA_API_KEYS="your_jina_api_key_here"

# Notifications
NTFY_TOPIC="senku-hokoku" # name of server you subscribed

# Database
MONGODB_URI="mongodb+srv://<user>:<password>@senku-cluster.7ecpvya.mongodb.net/?retryWrites=true&w=majority&appName=senku-cluster"

# MCP Server ports (in-process HTTP servers)
ICHI_SERVER_PORT=8081
NI_SERVER_PORT=8082
SAN_SERVER_PORT=8083
GO_SERVER_PORT=8084
MCP_STARTUP_GRACE=2.0   # seconds to wait before workflow connects
MCP_HOST=localhost       # set to "mcp" when using docker-compose


# Monitoring
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=your_langsmith_api_key_here
LANGSMITH_PROJECT="Senku"